<div class="container-fluid mt-5">

<div class="row">



<div class="row">

<div class="col-md-6 col-12 hero-text order-1 d-flex justify-content-centre align items-start flex-column">

<h1>GROW YOUR BUSINESS</h1>

<h1>WE WILL HELP YOU TO</h1>

 <p>We Are The Team Of

     <span class ="bold-style"> Professional Developer✌️ </span></p>
<button class ="btn style btn btn-primary">Read more</button>
</div>

{{! right side --}}

<div class="col-md-6 col-12 hero-text order-md-1 order-0">

<figure>
    <img src = "images/about.svg" alt = "herosection_image">
</figure>
</div>

</div>

</div>

</div>

</div>

