<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
<title>Title of the document</title>
</head>

<body>


    
  {{>navbar}}

{{>about}}



<div class="container-fluid mt-5 about-style" id = "serviceid">

<div class="row">

<div class="col-md-10 col-12 mx-auto">
    <h1 class = "text-centre main-heading">Our Services</h1>
    <p class = "text-centre sub-heading">Grow your bussiness with Us</h1>

<div class="row">




     <div class ="col-md-4">
        <div class="box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/6NKPrhO.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>


    <div class ="col-md-4">
        <div class="box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/v6OnUqu.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>
    <div class ="col-md-4">
        <div class="box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/AgyneKA.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>
    <div class ="col-md-4">
        <div class="box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/VzjZw9M.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>
    <div class ="col-md-4">
        <div class= "box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/v6OnUqu.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>
    <div class ="col-md-4">
        <div class="box">
            <div class = "our-service settings">
            <div class="icon">
            <img src ="https://i.imgur.com/vdH9LKi.png" alt = "">
            </div>
       <h4> Settings</h4>
       <p> Lorem ipsum, dolor sit amet consectetur adit. Vel sunt eum ratio </p>
       
       
       
        </div>
        
        </div>  
    </div>
    


</div>
</div>
</div>
</div>


<section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.931648043877!2d78.20315321495536!3d26.23141038342574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c14c64938e5f%3A0x87b3d6a725f7b077!2sMadhav%20Institute%20of%20Technology%20%26%20Science!5e0!3m2!1sen!2sin!4v1656672291905!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>


{{>contact}};



    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>




</body>

</html>